<% include partials/header %>
<div id="content">
    <ul class="wrap-250">
      <li><a href="/get-user-media">카메라 테스트</a></li>
      <li><a href="/capture">비디오를 이미지로 캡쳐하기</a></li>
      <li><a href="/screen-share">화면 공유하기</a></li>
      <li><a href="/conference">영상통화</a></li>
      <li><a href="/data-channel">파일 전송하기</a></li>
      <li><a href="/speech-recognition">음성 인식(STT)</a></li>
    </ul>
  </div>

  <% include partials/footer %>