<% include ../../partials/header %>
  <link href="css/main.css" rel="stylesheet" type="text/css">

  <div id="content">
    <div class="wrap">
      <button id="btn-start">Start</button>
      <video id="local-video" autoplay></video>

    </div>
  </div>

  <script type="module" src="js/main.js"></script>

  <% include ../../partials/footer %>