<% include ../../partials/header %>
  <div id="content">
    <div class="wrap">
      <video autoplay></video>
      <button>카메라 키기</button>

      <pre>

</code>
   	</pre>
    </div>
  </div>

  <script src="js/main.js"></script>
  <% include ../../partials/footer %>